.App-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: flex-end;
}

.background {
    display: flex;
    flex-direction: column;
}

.highlight {
    background-color: #fed49c;
    font-size: 16px;
    font-weight: bold;
}

.main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 300px;
    margin-left: 300px;
}

.main-mobile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    display: flex;
    flex-direction: row;
}

.work-div {
    display: flex;
    flex-direction: column;
    margin-left: 125px;
}

.work-mobile-div {
    display: flex;
    flex-direction: column;
}

.a {
    font-weight: 500;
    color: black;
}

.a-no-deco {
    font-weight: 500;
    color: black;
    text-decoration: none;
}