.App {
  font-family: 'Space Mono', monospace;
  margin: 20px;
}

.nav-link {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

.footer-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin: 10px;
  color: grey;
}